CREATE DATABASE [Companies]
USE [Companies]

CREATE TABLE [Stocks](
	[id] [bigint] NULL,
	[stock_name] [nvarchar](max) NULL,
	[stock_symbol] [text] NULL,
	[stock_sector] [varchar](255) NULL,
	[stock_industry] [text] NULL,
	[stock_market] [text] NULL,
	[stock_market_cap_USD$_billion] [float] NULL,
	[country_of_origin] [nvarchar](50) NULL,
	[country_code] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]


CREATE TABLE [Dividends] (
    [id] BIGINT PRIMARY KEY,
    [stock_symbol] NVARCHAR(10),				-- Stock symbol used to link to the Stocks table
    [dividend_date] DATE,						-- Date of the divident
    [dividend_amount] DECIMAL(10, 2),			-- Amount of dividend
    [currency] NVARCHAR(3)						-- Currency code (e.g., USD, EUR)
);


CREATE TABLE [dbo].[CompanyFinancials] (
    [id] BIGINT PRIMARY KEY,
    [stock_symbol] NVARCHAR(10),				-- Foreign key to Stocks table
    [fiscal_year] INT,							-- Fiscal year of the financial data
    [revenue] DECIMAL(18, 2),					-- Revenue in USD (in millions or billions)
    [net_income] DECIMAL(18, 2),				-- Net income in USD (in millions or billions)
    [earnings_per_share] DECIMAL(10, 2),		-- Earnings per share (EPS)
    [total_assets] DECIMAL(18, 2),				-- Total assets in USD
    [total_liabilities] DECIMAL(18, 2)			-- Total liabilities in USD
);



CREATE TABLE [StockPrices] (
    [id] BIGINT PRIMARY KEY,
    [stock_symbol] NVARCHAR(10),				-- Foreign key to Stocks table
    [price_date] DATE,							-- Date of the stock price
    [opening_price] DECIMAL(10, 2),				-- Opening price of the stock
    [closing_price] DECIMAL(10, 2),				-- Closing price of the stock
    [highest_price] DECIMAL(10, 2),				-- Highest price during the trading day
    [lowest_price] DECIMAL(10, 2),				-- Lowest price during the trading day
    [volume] BIGINT								-- Number of shares traded on that day
);


-- Add foreign key to the Dividends table
ALTER TABLE [Dividends]
ADD CONSTRAINT FK_Dividends_Stocks FOREIGN KEY (stock_symbol) REFERENCES [Stocks](stock_symbol);

-- Add foreign key to the CompanyFinancials table
ALTER TABLE [CompanyFinancials]
ADD CONSTRAINT FK_CompanyFinancials_Stocks FOREIGN KEY (stock_symbol) REFERENCES [Stocks](stock_symbol);

-- Add foreign key to the Shareholders table
ALTER TABLE [Shareholders]
ADD CONSTRAINT FK_Shareholders_Stocks FOREIGN KEY (stock_symbol) REFERENCES [Stocks](stock_symbol);

-- Add foreign key to the StockPrices table
ALTER TABLE [StockPrices]
ADD CONSTRAINT FK_StockPrices_Stocks FOREIGN KEY (stock_symbol) REFERENCES [Stocks](stock_symbol);

-- Add foreign key to the AnalystRatings table
ALTER TABLE [AnalystRatings]
ADD CONSTRAINT FK_AnalystRatings_Stocks FOREIGN KEY (stock_symbol) REFERENCES [Stocks](stock_symbol);

CREATE TABLE [Shareholders] (
    [id] BIGINT PRIMARY KEY,
    [shareholder_name] NVARCHAR(100),				-- Shareholder name
    [stock_symbol] NVARCHAR(10),					-- Foreign key to Stocks table
    [shares_held] BIGINT,							-- Number of shares held
    [percentage_ownership] DECIMAL(5, 2),			-- Percentage of total shares owned
    [ownership_type] NVARCHAR(50)					-- Type of shareholder (Institutional, Retail, etc.)
);


CREATE TABLE [AnalystRatings] (
    [id] BIGINT PRIMARY KEY,
    [stock_symbol] NVARCHAR(10),        -- Foreign key to Stocks table
    [analyst_name] NVARCHAR(100),       -- Name of the analyst
    [rating_date] DATE,                 -- Date of the rating
    [rating] NVARCHAR(20),              -- Rating (e.g., "Buy", "Hold", "Sell")
    [target_price] DECIMAL(10, 2),      -- Target price set by the analyst
    [notes] NVARCHAR(255)               -- Additional notes or comments
);

